.modal {
  position: fixed;
  text-align: center;
  margin-top: 50px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  z-index: 1;
  /* backdrop-filter: blur(10px);
  background-color: #000000a3 */
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal img {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modal input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.modal input:focus-visible {
  border: 2px solid #4c70d6;
}

.modal button {
  background-color: #4c70d6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.modal button.cancel {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.modal p.success {
  color: green;
  margin-top: 10px;
}

.modal p.error {
  color: red;
  margin-top: 10px;
}

@media (max-width: 528px) {
  .modal {
    width: 95%;
  }
}

@media (max-width: 386px) {
  .modal .icon {
    right: 5px;
  }
}
