@charset "UTF-8";
:root {
  --white: #ffffff;

  /* Text Color */
  --text-black: #484848;
  --text-gray: #757575;

  /* Color Themes */
  --primary-blue: #4c70d6;
  --primary-green: #78d090;
  --primary-pink: #4c70d6;

  /* Fonts */
  --font-primary: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* H1 / Medium (34.176px) */
  --font-h1: 2.336rem;
  /* H2 / Medium (27.16px)*/
  --font-h2: 1.8975rem;
  /* H3 / Medium (21.68px) */
  --font-h3: 1.555rem;
  /* H4 / Medium (17.582px) */
  --font-h4: 1.0989rem;
  /* H5 / Medium (16px) */
  --font-h5: 1rem;
  /* Paragraph (14px) */
  --font-p: 0.875rem;
  /* Caption 1 / Regular (12px) */
  --font-accent: 0.75rem;
}

// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

::selection {
  background: var(--primary-blue);
  color: var(--white);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--primary-blue);
  color: var(--white);
  /* Gecko Browsers */
}

::-webkit-input-placeholder {
  color: var(--text-gray);
  opacity: 1;
}

:-moz-placeholder {
  color: var(--text-gray);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--text-gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-gray);
  opacity: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  :root {
    /* H1 / Medium */
    --font-h1: 2.011rem;
    /* H2 / Medium */
    --font-h2: 1.416rem;
    /* H3 / Medium */
    --font-h3: 1.143rem;
    /* H4 / Medium */
    --font-h4: 0.914rem;
    /* H5 / Medium */
    --font-h5: 0.896rem;
    /* Paragraph */
    --font-p: 0.795rem;
    /* Caption 1 / Regular */
    --font-accent: 0.68rem;
  }
}
html {
  font-display: optional;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  image-rendering: crisp-edges;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
strong,
div,
section,
main {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}

input,
select,
textarea,
a,
p {
  font-family: var(--font-primary);
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: #0056b3;
    text-decoration: none;
  }
}

.btn-drug-stoc {
  background: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: calc(var(--font-p) + 1px);
  line-height: 19px;
  opacity: 1;
  transition: all 0.4s ease-in;
  color: #ffffff;
  padding: 10px 30px;

  &:disabled {
    cursor: not-allowed;
  }
}
.btn-drug-stoc:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-drug-stoc.sm-size {
  padding: 9px 20px;
  border-radius: 8px;
}

.custom-select {
  background: url("data:image/svg+xml, %3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M2.12001 1.29007L6.00001 5.17007L9.88001 1.29007C9.97259 1.19749 10.0825 1.12405 10.2035 1.07394C10.3244 1.02384 10.4541 0.998047 10.585 0.998047C10.7159 0.998047 10.8456 1.02384 10.9665 1.07394C11.0875 1.12405 11.1974 1.19749 11.29 1.29007C11.3826 1.38265 11.456 1.49256 11.5061 1.61352C11.5562 1.73449 11.582 1.86414 11.582 1.99507C11.582 2.126 11.5562 2.25565 11.5061 2.37661C11.456 2.49757 11.3826 2.60749 11.29 2.70007L6.70001 7.29007C6.60749 7.38277 6.4976 7.45632 6.37663 7.5065C6.25566 7.55668 6.12597 7.58251 5.99501 7.58251C5.86404 7.58251 5.73435 7.55668 5.61338 7.5065C5.49241 7.45632 5.38252 7.38277 5.29001 7.29007L0.700006 2.70007C0.607302 2.60755 0.533755 2.49767 0.483573 2.37669C0.433392 2.25572 0.407562 2.12604 0.407562 1.99507C0.407562 1.8641 0.433392 1.73442 0.483573 1.61344C0.533755 1.49247 0.607302 1.38258 0.700006 1.29007C1.09001 0.910068 1.73001 0.900068 2.12001 1.29007Z' fill='%23000000' /%3E%3C/svg%3E")
    no-repeat right 0.75rem center/12px 10px #fff !important;
}

.cursor-pointer {
  cursor: pointer;
}

.faqHero {
  height: 236px;
  background-color: #0b1532;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f9fb;
  gap: 5px;
  margin-top: 85px;
}

.faqSearch {
  position: relative;
  top: -27px;
  // font-family: 'Lato', sans-serif;
}

.faqSearch input {
  border: 1px solid #acbdec;
  border-radius: 4px;
  width: 60%;
  display: block;
  margin-inline: auto;
  height: 56px;
  text-indent: 40px;
  outline: none;
  box-shadow: 0 0 16px 0 #2647a61a;
}

.faqSearch img {
  position: absolute;
  left: calc(20% + 13px);
  top: 20px;
}

.faqVideoSection {
  overflow-x: auto;
}

.faqVideoSection::-webkit-scrollbar {
  display: none;
}

.faqVideos {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 1118px;
  margin-inline: auto;
  flex-wrap: nowrap;
  cursor: pointer;
}

.faqVideos div {
  height: 180px;
  width: 30%;
  background-color: #4c70d6;
  border-radius: 8px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.faqVideos div:nth-child(1) {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1707302212/firstWalkthrough_fylxuy.png');
  position: relative;
}

.faqVideos div:nth-child(1)::before {
  position: absolute;
  content: 'Walkthrough Videos';
  top: -30px;
  color: #1f1e2a;
}

.faqVideos div:nth-child(2) {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1707302380/secondWalkthrough_jd9hyu.png');
}

.faqVideos div:nth-child(3) {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1707302451/lastWalkthrough_fauexm.png');
}

.faqVideos img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.majorFAQ {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-inline: auto;
  color: #1f1e2a;
}

.faqHeading {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: -20px;
}

.accordionSection {
  border-bottom: 1px solid #e8e7ee;
}

.sectionTitle {
  font-size: 12px;
  color: #514f6d;
  margin-top: 40px;
}

.accordionTitle {
  margin-block: 10px;
}

.accordion-content {
  display: flex;
  align-items: center;
  min-height: 30px;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-text {
  font-size: 16px;
  margin-top: 10px;
}

.buttonContact {
  background-color: #128c7e;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #128c7e;
  color: #f9f9fb;
  padding: 10px 15px;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px 30px;
  width: 55%;
  margin-inline: auto;
  border: 1px solid #f9f9fb;
}

.learningHero,
.learningVideo {
  margin-top: 86px;
  height: 496px;
  position: relative;
  border-top: 1px solid #ececec;
  overflow: hidden;
}

.learningHeroImg,
.learnVideoHeroImg {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1726915643/learning_pattern_vjbplu.png');
  background-position: center;
  background-size: cover;
  height: 496px;
  width: 100%;
}

.learnVideoHeroImg,
.learningVideo {
  height: 200px;
}

.learnVideoHeroImg h1 {
  margin-inline: auto;
  width: 95%;
}

.learningVideoMain {
  width: 95%;
  margin-inline: auto;
  margin-top: 50px;
}

.learnVideoHeroImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learningVideoMB {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 40px;
  margin-inline: auto;
}

.learningVideoFlexRow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  flex-wrap: wrap;
  // width: 600px;
}

.learningVideoBadgeFlexRow {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-block: 5px;
}

// .learningVideoFlexRowImg {
//   margin-right: 10px;
// }

.learningVideoFlexRowImg img {
  width: 320px;
  // min-width: 232px;
}

.learningVideoFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.learningVideoBadgeFlexRow {
  display: flex;
  justify-content: space-between;
}

.learningVideoRelative {
  position: relative;
}

.learningVideoScope {
  position: absolute;
}

.learningVideoBadgeFlexRow div {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f9f9fc;
  color: #5ebd75;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 123px;
}

.learningVideoExplore {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.learningVideoExplore button {
  background-color: transparent;
  border: none;
  color: #4c70d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learningHeroSectionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 40px;
  margin-top: 50px;
}

.learningHeroSectionText {
  width: 50%;
}

.learningHeroSectionText h2 {
  font-size: 43px;
  font-weight: 600;
}

.learningHeroSectionText p {
  color: #757575;
  margin-block: 30px;
}

.learningHeroFirstForeImg {
  position: relative;
  height: 454px;
}

.learningHeroForeimg {
  position: relative;
  margin-right: 100px;
}

.learningHeroForeimgSecondImage {
  position: absolute;
  left: -45px;
  top: -38px;
  width: 265px;
}

.learningHeroForeimgSecondImage,
.learningHeroFirstForeImg {
  z-index: 2;
}

.learningHeroFirstButton {
  display: flex;
  gap: 10px;
}

.learningHeroFirstButton button:first-child {
  background-color: #4c70d6;
  color: #fff;
}

.learningHeroFirstButton button:last-child {
  background-color: transparent;
  color: #4c70d6;
  font-weight: 600;
}

.learningHeroFirstButton button {
  padding: 14px 26px;
  border: 1px solid #4c70d6;
  border-radius: 4px;
}

.learningVideoInput,
.learningVideoScope {
  width: 60%;
}

.learningVideoRelative img {
  width: 24px;
  height: 24px;
}

.learningVideoInput {
  display: block;
  margin-block: 75px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 15px;
}

button,
input {
  outline: none;
}

.learningHeroCard {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
  min-width: 278px;
  min-height: 134px;
  position: absolute;
  z-index: 10000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.learningHeroCard h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.learningHeroCardProfiles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.learningHeroProfileListCard {
  left: -220px;
  z-index: 1;
  top: 130px;
}

.learningHeroTestimonialCard {
  top: 300px;
  left: -130px;
}

.learningHeroUsers {
  top: 180px;
  left: 200px;
  padding: 30px;
}

.learningHeroUsersCount {
  color: #5ebd75;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.learningHeroUsers p:last-child {
  color: #757575;
  font-size: 14px;
}

.learningHeroTestimonialCard p {
  color: #757575;
  width: 250px;
  padding: 10px;
  font-size: 14px;
  margin-top: 60px;
}

.learningHeroTestimonialCardInfo1 h5 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  left: 70px;
  top: -20px;
}

.learningHeroTestimonialCardInfo1 span {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
}

.learningHeroTestimonialCard img {
  position: relative;
  top: 70px;
}

.learningHeroCardProfiles img {
  position: absolute;
  border: 2px solid #5ebd75;
  border-radius: 50%;
}

.learningHeroCardProfiles img:nth-child(2) {
  left: 20px;
}

.learningHeroCardProfiles img:nth-child(3) {
  left: 58px;
  z-index: 2;
}

.learningHeroCardProfiles img:nth-child(4) {
  left: 95px;
  z-index: 3;
}

.learningHeroCardProfiles img:nth-child(5) {
  left: 130px;
  z-index: 5;
}

.learningHeroCardProfiles img:nth-child(6) {
  left: 170px;
  z-index: 6;
}

.learningHeroCardProfiles img:nth-child(7) {
  left: 210px;
  z-index: 7;
}

.learningHeroTrophy {
  position: absolute;
  bottom: 250px;
  right: 150px;
  z-index: 10;
}

.learningHeroTrophy img {
  width: 200px;
}

.whyDrugStoc,
.learningMostPopularVideos {
  margin-inline: auto;
  background-color: #fffdfd;
}

.learningMostPopularVideos {
  background-color: #f9f9fc;
  padding-bottom: 100px;
}

.whyDrugStocSection,
.learningMostPopularVideosSection {
  width: 95%;
  padding-top: 80px;
  margin-bottom: 60px;
  margin-inline: auto;
}

.whyDrugStocSection h2,
.learningMostPopularVideosSection h2 {
  margin-bottom: 40px;
}

.learningCourses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 4rem;
}

.learningCourses h4 {
  font-size: 18px;
}

.learningCoursesCard {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.learningCoursesCardIcon img {
  border: 1px solid #eff9f2;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
  background-color: #eff9f2;
}

.learningCoursesCard h4 {
  margin-block: 25px;
}

.learningMostPopularVideoCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 4rem;
}

.learningMostPopularVideoCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.learningMostPopularVideoCard button {
  display: block;
  width: 100%;
  background-color: #4c70d6;
  border: 1px solid #4c70d6;
  color: #fff;
  border-radius: 52px;
  padding-block: 10px;
}

.learningMostPopularVideoCardTitle {
  display: flex;
  gap: 10px;
}

.learningMostPopularVideoCardTitle p {
  font-size: 14px;
  color: #5ebd75;
}

.learningMostPopularVideoCardTitle img {
  width: 20px;
  height: 20px;
}

.learningMostPopularVideoCard h2 {
  font-size: 18px;
  position: relative;
  top: 10px;
}

.learningMostPopularVideoCardDate {
  font-size: 14px;
  color: #7f8490;
}

@media (min-width: 1270px) and (max-width: 1541px) {
  .learningVideoMB {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1541px) {
  .learningVideoFlexRow {
    width: min-content;
  }
}

@media (max-width: 1433px) {
  .learningHeroForeImg,
  .learningHeroTrophy {
    display: none;
  }
  .learningHeroSectionContent {
    justify-content: center;
  }
  .learningHeroSectionText {
    width: 85%;
  }
  .learningHeroSectionText h2 {
    font-size: 30px;
  }
}

@media (max-width: 1410px) {
  .learningMostPopularVideoCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1191px) {
  .learningCourses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1027px) {
  .learningMostPopularVideoCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

// @media (min-width: 1045px) and (max-width: 1541px) {
//   .learningVideoFlexRow {
//     width: min-content;
//   }
// }

@media (max-width: 992px) {
  br {
    display: none;
  }
  .Toastify__toast {
    width: 80% !important;
    margin-left: auto;
    margin-right: 20px;
  }
}

/**Translator **/
a.gflag {
  vertical-align: middle;
  font-size: 16px;
  padding: 1px 0;
  background-repeat: no-repeat;
  background-image: url(//gtranslate.net/flags/16.png);
}
a.gflag img {
  border: 0;
}
a.gflag:hover {
  background-image: url(//gtranslate.net/flags/16a.png);
}
#goog-gt-tt {
  display: none !important;
}
.goog-te-banner-frame {
  display: none !important;
}
.goog-te-menu-value:hover {
  text-decoration: none !important;
}
body {
  top: 0 !important;
}
#google_translate_element2 {
  display: none !important;
}

.banner.d-lg-block {
  object-fit: contain;
  width: 100%;
  text-align: right;
}

@media (max-width: 992px) {
  .faqSearch input {
    width: 85%;
  }
  .faqSearch img {
    left: calc(7.5% + 13px);
  }
}

@media (max-width: 850px) {
  .learningVideoFlexRowImg img {
    width: 240px;
  }
}

@media (max-width: 656px) {
  .learningMostPopularVideoCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .learningVideoMB {
    grid-template-columns: repeat(1, 1fr);
    width: max-content;
  }
  .learningVideoBadgeFlexRow div {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .learningCourses {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 614px) {
  .contactInfo {
    width: 100%;
    border: none;
    border-top: 1px solid #e8e7ee;
    background-color: #f9f9fb;
  }
  .buttonContact {
    width: 100%;
  }
  .majorFAQ {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .learningHeroSectionText {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .learningHeroSectionText {
    width: 100%;
  }
}
